<div class="addDataBase">
  <img src="../../../assets/images/connectDB.svg" alt="">
    <p class="title">Connect to Database</p>
    <div class="formCont">
        <form class="example-form">
            <!-- Start Row -->
            <div class="formRow">
                <span class="formLabel">Connection Name</span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="" value="OrangeOffers.DB">
                </mat-form-field>
            </div>
            <!-- End Row -->
              <!-- Start Row -->
              <div class="formRow">
                <span class="formLabel">Username</span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="" value="Omar.Zain">
                </mat-form-field>
            </div>
            <!-- End Row -->
              <!-- Start Row -->
              <div class="formRow">
                <span class="formLabel">Password</span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="" value="*********">
                </mat-form-field>
            </div>
            <!-- End Row -->
              <!-- Start Row -->
              <div class="formRow">
                <span class="formLabel">Host </span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="" value="192.168.1.1">
                </mat-form-field>
            </div>
            <!-- End Row -->
              <!-- Start Row -->
              <div class="formRow">
                <span class="formLabel">Port </span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="" value="52">
                </mat-form-field>
            </div>
            <!-- End Row -->
              <!-- Start Row -->
              <div class="formRow">
                <span class="formLabel">Service Name </span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="" value="Orange.DB">
                </mat-form-field>
            </div>
            <!-- End Row -->
            <div class="btnRow">
              <button class="btn whiteBtn">Back</button>
              <button class="btn blackBtn">Connect</button>
            </div>

          </form>
    </div>
</div>
