<div class="recentCont">
    <p class="title">Recent Connections</p>
    <div class="dbCont">
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/orangePlus.svg" alt="">
                <p class="text">New Connection</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
    </div>
    <!-- End Row -->
    <div class="dbCont">
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
    </div>
    <!-- End Row -->
    <div class="dbCont">
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
        <div class="dataCont">
            <div>
                <img src="../../../assets/images/iconDB.svg" alt="">
                <p class="text">OrangeOffers.DB</p>
                <p class="smallText">Last connected 24.1.2020 24:21 AM</p>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
