<table class="servTable">
    <tr class="dataHead">
        <th></th>
        <th>Service ID</th>
        <th>Description</th>
        <th>Service Code</th>
        <th>Service Version</th>
        <th>Activity ID</th>
        <th></th>
    </tr>
    <tr class="dataRow">
        <td><img src="../../../../assets/images/serviceIcon.svg" alt=""></td>
        <td>60723</td>
        <td>Will be started after 05 day 09 hour 22 mint one time</td>
        <td>2452325</td>
        <td>100000106</td>
        <td>888888886</td>
        <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="noBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z"/></svg>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/send.svg" alt="">
                Publish
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/edit.svg" alt="">Edit
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/delete.svg" alt="">Delete
            </button>
            </mat-menu>
        </td>
    </tr>
     <tr class="dataRow">
        <td><img src="../../../../assets/images/serviceIcon.svg" alt=""></td>
        <td>60723</td>
        <td>Will be started after 05 day 09 hour 22 mint one time</td>
        <td>2452325</td>
        <td>100000106</td>
        <td>888888886</td>
        <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="noBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z"/></svg>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/send.svg" alt="">
                Publish
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/edit.svg" alt="">Edit
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/delete.svg" alt="">Delete
            </button>
            </mat-menu>
        </td>
    </tr>
    <tr class="dataRow">
        <td><img src="../../../../assets/images/serviceIcon.svg" alt=""></td>
        <td>60723</td>
        <td>Will be started after 05 day 09 hour 22 mint one time</td>
        <td>2452325</td>
        <td>100000106</td>
        <td>888888886</td>
        <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="noBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z"/></svg>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/send.svg" alt="">
                Publish
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/edit.svg" alt="">Edit
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/delete.svg" alt="">Delete
            </button>
            </mat-menu>
        </td>
    </tr>
     <tr class="dataRow">
        <td><img src="../../../../assets/images/serviceIcon.svg" alt=""></td>
        <td>60723</td>
        <td>Will be started after 05 day 09 hour 22 mint one time</td>
        <td>2452325</td>
        <td>100000106</td>
        <td>888888886</td>
        <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="noBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z"/></svg>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/send.svg" alt="">
                Publish
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/edit.svg" alt="">Edit
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/delete.svg" alt="">Delete
            </button>
            </mat-menu>
        </td>
    </tr>
    <tr class="dataRow">
        <td><img src="../../../../assets/images/serviceIcon.svg" alt=""></td>
        <td>60723</td>
        <td>Will be started after 05 day 09 hour 22 mint one time</td>
        <td>2452325</td>
        <td>100000106</td>
        <td>888888886</td>
        <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="noBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z"/></svg>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/send.svg" alt="">
                Publish
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/edit.svg" alt="">Edit
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/delete.svg" alt="">Delete
            </button>
            </mat-menu>
        </td>
    </tr>
     <tr class="dataRow">
        <td><img src="../../../../assets/images/serviceIcon.svg" alt=""></td>
        <td>60723</td>
        <td>Will be started after 05 day 09 hour 22 mint one time</td>
        <td>2452325</td>
        <td>100000106</td>
        <td>888888886</td>
        <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="noBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z"/></svg>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/send.svg" alt="">
                Publish
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/edit.svg" alt="">Edit
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/delete.svg" alt="">Delete
            </button>
            </mat-menu>
        </td>
    </tr>
    <tr class="dataRow">
        <td><img src="../../../../assets/images/serviceIcon.svg" alt=""></td>
        <td>60723</td>
        <td>Will be started after 05 day 09 hour 22 mint one time</td>
        <td>2452325</td>
        <td>100000106</td>
        <td>888888886</td>
        <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="noBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z"/></svg>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/send.svg" alt="">
                Publish
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/edit.svg" alt="">Edit
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/delete.svg" alt="">Delete
            </button>
            </mat-menu>
        </td>
    </tr>
     <tr class="dataRow">
        <td><img src="../../../../assets/images/serviceIcon.svg" alt=""></td>
        <td>60723</td>
        <td>Will be started after 05 day 09 hour 22 mint one time</td>
        <td>2452325</td>
        <td>100000106</td>
        <td>888888886</td>
        <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="noBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z"/></svg>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/send.svg" alt="">
                Publish
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/edit.svg" alt="">Edit
            </button>
            <button mat-menu-item class="moreMenuItem">
                <img src="../../../../assets/images/delete.svg" alt="">Delete
            </button>
            </mat-menu>
        </td>
    </tr>
</table>