<div class="header">
    <p class="title">User Management</p>
    <img (click)="close()" src="../../../assets/images/close.svg" alt="">
</div>
<div mat-dialog-content>
    <div class="adminCont">
        <div class="nameCont">
            <img src="../../../assets/images/user.svg" alt="">
            <div>
                <p>Amr Gamal</p>
                <span>Senior Product Designer</span>
            </div>
        </div>
        <div class="moreCont">
            <span>Admin</span>
          
        </div>
        

    </div>
</div>
<div mat-dialog-actions>
  <button  (click)="close()">Close</button>
</div>
